import nextflow.util.SysHelper

// Default inputs/parameters of the pipeline
params {
    max_cpus   = SysHelper.getAvailCpus()
    max_memory = SysHelper.getAvailMemory()
    min_cpus = 1
    min_memory = 1.MB

    docker_container_registry_uclahscds = "ghcr.io/uclahs-cds"
    docker_container_registry_theboutroslab = "ghcr.io/theboutroslab"

    portion_id = '0'

    checksum_alg = "sha512"
    checksum_extra_args = ""

    pipeval_version = "5.0.0-rc.3"
    samtools_version = "1.23"
    picard_version = "3.4.0"
    docker_image_validate = "${-> params.docker_container_registry_uclahscds}/pipeval:${params.pipeval_version}"
    docker_image_samtools = "${-> params.docker_container_registry_theboutroslab}/samtools:${params.samtools_version}"
    docker_image_picard = "${-> params.docker_container_registry_theboutroslab}/picard:${params.picard_version}"
}

// Standard set of profiles
profiles {
    standard {
        apptainer {
            enabled = false
        }

        singularity {
            enabled = false
        }

        docker {
            enabled = true
            uid_and_gid = "-u \$(id -u):\$(id -g)"
            all_group_ids = "\$(for i in `id --real --groups`; do echo -n \"--group-add=\$i \"; done)"
            runOptions = "${uid_and_gid} ${all_group_ids}"
        }

        params.container_mount_flag = "-v"
    }

    // Define copy of default standard profile as docker to allow explicit docker selection
    // Profile aliasing isn't directly available so profile is copied
    docker {
        apptainer {
            enabled = false
        }

        singularity {
            enabled = false
        }

        docker {
            enabled = true
            uid_and_gid = "-u \$(id -u):\$(id -g)"
            all_group_ids = "\$(for i in `id --real --groups`; do echo -n \"--group-add=\$i \"; done)"
            runOptions = "${uid_and_gid} ${all_group_ids}"
        }

        params.container_mount_flag = "-v"
    }

    apptainer {
        docker {
            enabled = false
        }

        singularity {
            enabled = false
        }

        apptainer {
            enabled = true

            autoMounts = true
            ociAutoPull = true
        }

        params.container_mount_flag = "-B"
    }

    singularity {
        docker {
            enabled = false
        }

        apptainer {
            enabled = false
        }

        singularity {
            enabled = true

            autoMounts = true
            ociAutoPull = true
        }

        params.container_mount_flag = "-B"
    }
}

// Process specific scope
process {
    // Process results are stored to local cache.
    // If pipeline is launched with the 'resume' option, existing cache results will be used when available
    // rather than re-executing processes
    cache = true

    // Forward process 'stdout' to shell terminal and, consequently, the log file
    debug = false
    executor = 'local'

    // Other directives or options that should apply for every process

    // Default set of resources for processes if no process- or label-specific allocations are defined for a process
    cpus = params.max_cpus
    memory = params.max_memory
}
