
includeConfig "${projectDir}/external/pipeline-Nextflow-config/config/methods/common_methods.config"
includeConfig "${projectDir}/external/pipeline-Nextflow-config/config/schema/schema.config"
includeConfig "${projectDir}/external/pipeline-Nextflow-config/config/store_object_as_json/store_object_as_json.config"
includeConfig "${projectDir}/external/pipeline-Nextflow-config/config/resource_handler/resource_handler.config"

methods {
    set_sample_info = {

        params.input_file_type = params.input.containsKey("CRAM") ? "CRAM" : "BAM"

        params.sample = [
            "path": "",
            "id": ""
        ]

        params.input[params.input_file_type].each { k, v ->
            v.each { sample ->
                // Only a single sample is expected; parameter validation will allow only inputs where exactly one sample is provided
                params.sample.path = sample.path
                params.sample.id = sample.id
            }
        }
    }

    set_output_and_log_dir = {
        params.output_dir_base = "${params.output_dir}/${manifest.name}-${manifest.version}/${params.sample.id}"

        def tz = TimeZone.getTimeZone("UTC")
        def date = new Date().format("yyyyMMdd'T'HHmmss'Z'", tz)

        params.log_output_dir = "${params.output_dir_base}/log-${manifest.name}-${manifest.version}-${date}"
        params.output_dir_pipeline = "${params.output_dir_base}/SAMtools-${params.samtools_version}"
    }

    set_pipeline_logs = {
        trace.enabled = true
        trace.file = "${params.log_output_dir}/nextflow-log/trace.txt"

        timeline.enabled = true
        timeline.file = "${params.log_output_dir}/nextflow-log/timeline.html"

        report.enabled = true
        report.file = "${params.log_output_dir}/nextflow-log/report.html"
    }

    mount_validate_reference = {
        def path_to_mount = new File(params.reference_fasta).getParentFile().getPath()
        process['withName:run_validate_PipeVal'].containerOptions = "${params.container_mount_flag} ${path_to_mount}:${path_to_mount}"
    }

    setup = {
        schema.load_custom_types("${projectDir}/config/custom_schema_types.config")
        schema.validate()

        resource_handler.handle_resources("${projectDir}/config/resources.json")

        methods.set_sample_info()

        methods.set_output_and_log_dir()
        methods.set_pipeline_logs()

        methods.set_env()
        methods.configure_containerization()
        methods.mount_validate_reference()
        methods.setup_process_afterscript()

        // Save all parameters in log directory. This call must be the last configuration setup step.
        json_extractor.store_object_as_json(
            params,
            new File("${params.log_output_dir}/nextflow-log/params.json")
        )
    }
}
